.idea

/atcc/dist
/atcc/node_modules
mychaincode.tar.gz

/backend/node_modules
/backend/dist
/frontend/build
/frontend/node_modules

/bin/*
/builders/*

/channel-artifacts/*.block
/config

/organizations/ordererOrganizations/*
/organizations/peerOrganizations/*
/backup/*

install-fabric.sh
log.txt